.discografia-section {
  min-height: 100vh;
  padding: 150px 20px;
  background: linear-gradient(to bottom, #111, #000);
  color: white;
  text-align: center;
  position: relative;
}

.carouselDisc-container{
  justify-content:center;
  align-items:center;
  padding-left: 150px;
  padding-right:150px;;
}

.discografia-title {
  font-size: 3rem;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.spotify-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.spotify-slide {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Móvil → 1 elemento */
.spotify-slide {
  flex: 0 0 100%;
  max-width: 100%;
}



/* Desktop → 3 elementos */
@media (min-width: 1024px) {
  .spotify-slide {
    flex: 0 0 33.3333%;
    max-width: 60%;
  }
}

.spotify-slide iframe {
  width: 100%;
}

