.header {
  background: linear-gradient(to bottom, black, transparent);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  height: auto; /* Ajusta la altura automáticamente */
  padding: 0; /* Quita el padding para que no afecte el tamaño */
}
.header {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.header img {
  max-width: 100%; /* Asegura que la imagen sea responsive */
  height: auto; /* Mantén las proporciones de la imagen */
}

