.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position:fixed;
    right: 5vw;
    top: 0;
}

.menuItem {
    text-decoration: none;
    color: white;
    font-size: 2vw;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
}

.menuItem::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #ffcc00;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.menuItem:hover::after {
    width: 100%;
    left: 0;
    background: #ffcc00;
}

.menuItem:hover {
    color: #ffcc00;
    cursor: pointer;
}

.titolFulla {
    margin-left: 10vw;
    align-items: center;
    color: #ffcc00;
    font-size: 2vw;
    position: fixed;
    left: 10vw;
}

.titolFulla:hover {
    cursor: default;
}

.header {
    position: 'fixed';
    z-index: 1;
}

.logo {
    position: 'fixed';
}
