.footer {
    background: linear-gradient(to top, black, transparent);
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    margin: 0 5px;
    display: inline-block;
}

.footer .social-icons img {
    width: 24px;
    height: 24px;
}