.gigStyle {
    color: white;
    width: auto;
    height: 5vh;
    font-size: 1.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gigStyle:hover {
    cursor: pointer;
    color: #ffcc00;
    cursor: pointer;
    font-size: 1.8rem;
    transition: font-size 0.3s ease;
}

.gigStyle::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin-top: 0px;
    right: 0;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}



.fechaStyle{
    color:grey;
}

.lugarStyle{
    color:grey;
}

@keyframes highlight {
    0% { color: white; text-shadow: 0 0 5px #fff, 0 0 10px #ff0, 0 0 15px #ff0; }
    50% { color: yellow; text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0; }
    100% { color: white; text-shadow: 0 0 5px #fff, 0 0 10px #ff0, 0 0 15px #ff0; }
}

.highlight-text:hover {
    color: grey;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    animation: highlight 1.5s infinite alternate;
}

.highlight-text{
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}