.merxStyle {

  width: 100%;
  min-height: 100vh;
  background-image: url("/media/FotoRockCity.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.carouselContainer {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  margin-top: 8rem; 
}

.carouselContainer img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.formContainer {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  color: white;
  margin-top:8rem;
}

.ant-select,
.ant-input,
.ant-input-textarea {
  background-color: #ffffff !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
}

.ant-form-item-label > label {
  color: #ffcc00 !important;
  -webkit-text-stroke: 0.5px black;
  font-weight: bold;
}

.submitButton {
  background-color: #ffcc00;
  border: none;
  color: #000;
  font-weight: bold;
}

.submitButton:hover {
  background-color: #e6b800;
  color: #000;
}
